<h1 class="display-4 m-b-3 text-sm-center">Welcome back!</h1>

<p class="lead">
  Thanks! If you already signed up with <%= @email %>, you'll get a magic log
  in link soon.
</p>

<p>
  Having problems, or forgotten which email address you used? Contact us at
  <%= mail_to "curators@asongaday.co" %> and we'll sort it out.
</p>
