<h1 class="display-4 m-b-3 text-sm-center">Welcome back!</h1>

<p class="lead">
  Type in your email address, and we'll send you a log-in link.
</p>

<%= form_tag session_url do %>
  <div class="form-group">
    <label class="form-control-label form-control-lg" for="email">
      Email
    </label>
    <%= text_field_tag :email, @email, class: "form-control form-control-lg", placeholder: "your@email.com", type: "email", autofocus: true %>
  </div>

  <button type="submit" class="btn btn-lg btn-primary btn-block" data-disable-with="Sending…">
    Send log-in email
  </button>
<% end %>
