<% songs.each do |song| %>
  <%= render song do %>
    <div class="card-footer">
      <div class="row m-x-0 flex-items-xs-between flex-items-xs-middle">
        <div class="text-nowrap">
          <% if song.sent_at.nil? %>
            <span class="text-warning">
              Queued to send
            </span>
          <% else %>
            <span class="text-success">
              Sent <%= song.sent_at.to_date.to_s(:long) %>
            </span>
          <% end %>
          <span class="text-muted hidden-xs-down m-x-1">
            Added <%= song.created_at.to_date.to_s(:long) %>
          </span>
        </div>
        <div>
          <%= link_to "Edit song", edit_admin_curator_song_path(@curator, song), class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
