<% songs.each do |song| %>
  <div class="row m-b-1">
    <div class="col-sm-8 col-md-9">
      <%= render song %>
    </div>
    <div class="col-sm-4 col-md-3">
      <div class="list-group text-md-center">
        <%= link_to "Edit song", edit_admin_curator_song_path(@curator, song),
          class: "list-group-item" %>
        <div class="list-group-item bg-faded small">
          <% if song.sent_at.nil? %>
            <span class="text-warning">
              Queued to send
            </span>
          <% else %>
            <span class="text-success">
              Sent <%= song.sent_at.to_date.to_s(:long) %>
          </span>
          <% end %>
        </div>
        <div class="list-group-item bg-faded small">
          <span class="text-muted">
            Added <%= song.created_at.to_date.to_s(:long) %>
        </span>
        </div>
      </div>
    </div>
  </div>
<% end %>
