<ol class="breadcrumb">
  <li><%= link_to "Curate", admin_curators_path %></li>
  <li><%= link_to @curator.title, admin_curator_path(@curator) %></li>
  <li class="active">Song Queue</li>
</ol>

<div class="clearfix m-b-2">
  <h1 class="pull-xs-left">Song Queue</h1>
  <div class="pull-xs-right">
    <%= link_to "Add song", new_admin_curator_song_path(@curator), class: "btn btn-primary" %>
  </div>
</div>

<%= render partial: "songs", object: @curator.songs %>
