<div class="clearfix m-b-2">
  <h1 class="pull-xs-left">Profile</h1>
  <%= link_to "Edit profile", edit_admin_profile_path, class: "btn btn-primary pull-xs-right" %>
</div>

<%= render current_user %>
