<%= render "layouts/mailer_body" do %>
  <h1>Welcome back, <%= @name %></h1>

  <p>
    Nice to see you again.
  </p>

  <%= render "layouts/mailer_button" do %>
    <%= link_to "Log in to your account", token_url(@token) %>
  <% end %>

  <p>Not you? Don't worry, just ignore this email.</p>
<% end %>
