<li class="page-item <%= "disabled" if current_page.first? %>">
  <%=
    link_to_unless(current_page.first?, raw(t 'views.pagination.first'), url, class: 'page-link') do
      content_tag 'span', raw(t 'views.pagination.first'), class: 'page-link'
    end
    %>
</li>
