<li class="page-item <%= "disabled" if current_page.last? %>">
  <%=
    link_to_unless(current_page.last?, raw(t 'views.pagination.last'), url, class: 'page-link') do
      content_tag 'span', raw(t 'views.pagination.last'), class: 'page-link'
    end
    %>
</li>
