<%= render "layouts/mailer_body" do %>
  <p>
    You're now unsubscribed, and you won't receive any more songs.
  </p>

  <p>
    Care to let us know why? <a href="mailto:curators@asongaday.co">Hit reply and give us your thoughts</a>.
  </p>
<% end %>
