<h1 class="display-4 m-b-3 text-sm-center">Let's get started!</h1>

<p class="lead">
  We just need a few more details to start sending you music that you'll love.
</p>

<%= simple_form_for @user, url: signup_start_url, wrapper: :large_vertical_form do |f| %>
  <%= f.input :name, autofocus: true, label: "What should we call you?" %>
  
  <%= f.input :email, label: "Your email address",
    wrapper_html: { class: ("has-success" unless @user.errors.include?(:email)) },
    input_html: { class: ("form-control-success" unless @user.errors.include?(:email)) } %>

  <%= f.input :extra_information, label: "Anything else you want to tell us?" %>


  <div class="form-group">
    <label class="form-control-label form-control-lg">
      What kind of music do you want?
    </label>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 m-b-1">
      <button type="submit" name="curator" class="btn btn-lg btn-primary btn-block">
        Let me choose a curator
      </button>
    </div>

    <div class="col-xs-12 col-md-6 m-b-1">
      <button type="submit" name="random" class="btn btn-lg btn-warning btn-block">
        Just send me great music!
      </button>
    </div>
  </div>
<% end %>
