<h1 class="display-4 m-b-3 text-sm-center">Thanks for signing up!</h1>

<p class="lead">We've sent you an email to confirm your address. Click on the link there to start receiving your songs.</p>

<p>You chose <strong>random good music</strong>, so we'll be sending you something exciting soon. Check your email tomorrow!</p>
