<h1 class="display-4 m-b-3 text-sm-center">Thanks for signing up!</h1>

<p class="lead">We've sent you an email to confirm your address. Click on the link there to start receiving your songs.</p>

<% if @curator %>
  <p>Here's what you subscribed to:</p>

  <%= render partial: "admin/curators/curator", object: @curator, as: :curator %>
<% end %>
