.option {
  margin: 0 0.5rem 0 0;
  user-select: none;

  input {
    display: none;
  }

  &-name {
    background: white;
    border: 1px solid $gray-lighter;
    border-radius: $border-radius-sm;
    display: inline-block;
    padding: 0.5rem;

    &-wide {
      min-width: 5em;
      text-align: center;
    }

    &:hover {
      border-color: darken($gray-lighter, 15%);
    }

    &:active {
      background: $gray-lightest;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
    }
  }

  input:checked + &-name {
    border-color: $brand-primary;
    box-shadow: 0 0 0 1px $brand-primary;
  }
}
