.admin-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.admin-content {
  flex: 1;
}

.breadcrumb {
  border-radius: 0;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
}

.masquerade {
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
}
