@import "bootstrap-settings";
@import "bootstrap-flex";

@import "bootstrap-card-list-group-fix";
@import "bootstrap-bg-inverse-fix";

@import "shadows";

@import "home";
@import "admin";

@import "alerts";
@import "flex";
@import "gravatar";
@import "option";
@import "tables";

.application-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.application-content {
  flex: 1;
}

.application-container {
  margin: 0 auto;
  max-width: 650px;
}
