@import "colors";
@import "spacing";

.home {
  &__hero {
    background-attachment: scroll, fixed;
    background-image: linear-gradient(transparentize($color-accent, 0.05) 0%, transparentize($color-accent, 0.35) 90%), image-url("hero.jpg");
    background-position: center, center -80px;
    background-repeat: no-repeat;
    background-size: contain, cover;

    &__content {
      color: white;
      padding: $spacing-double $spacing-double ($spacing * 10);
      text-align: center;
    }
  }

  &__section {
    margin: ($spacing * 5) auto;
    max-width: 700px;
    padding: 0 $spacing-double;
  }
}
