@import "spacing";
@import "clearfix";

.inline {
  @include clearfix;
  margin-bottom: -$spacing-base;
  margin-left: 0;

  &__item {
    display: inline-block;
    margin: 0 0 $spacing-base;
    padding: 0 0;
    vertical-align: middle;
  }
}
