@import "colors";
@import "spacing";

$font-size-base: 18px;
$line-height-base: 1.4;

$body-font: Roboto Slab, Georgia, serif;
$heading-font: Montserrat, Helvetica, Arial, sans-serif;

html, body {
  background: $background;
  color: $color-default;
  font-family: $body-font;
  font-size: $font-size-base;
  font-weight: 400;
  line-height: $line-height-base;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-heading;
  font-family: $heading-font;
  font-weight: normal;
  margin: 0 0 $spacing-double;
  padding: 0;
  line-height: 1;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.8rem;
}

p {
  line-height: 1.8;
  margin: 1.8rem 0;
}

.lede {
  color: $color-accent;
  font-family: $heading-font;
  font-size: 1.2rem;
  margin: $spacing-double 0;
}

.font-heading {
  font-family: $heading-font;
  font-weight: normal;
}

a {
  color: $color-default;
  text-decoration: underline;
  transition-property: color;
  transition-duration: 150ms;

  &:focus, &:active, &:hover {
    color: $color-accent;
  }
}

.inverted {
  background: #444;
  color: white;
  overflow: auto;
  -webkit-font-smoothing: antialiased;

  h1, h2, h3, h4, h5, h6 {
    color: white;
  }

  a {
    color: white;

    &:focus, &:active, &:hover {
      color: $color-accent--light;
    }
  }
}
