<div class="row flex-items-xs-middle">
  <div class="col-xs-12 col-md-5 small text-muted"><%= page_entries_info @users %></div>
  <div class="col-xs-12 col-md-7 text-md-right"><%= paginate @users %></div>
</div>
