<% unless user.social_links.empty? %>
  <li class="list-group-item">
    <div class="row flex-items-xs-between">
      <% user.social_links.each do |name, url| %>
        <div class="m-x-1">
          <%= link_to name, url, target: "_blank" %>
        </div>
      <% end %>
    </div>
  </li>
<% end %>
