<div class="row m-b-2">
  <div class="col-sm-4 col-xs-6 center-block m-b-2">
    <%= image_tag gravatar_url(user.email), alt: "Avatar for #{user.name}", class: "img-rounded img-fluid" %>
  </div>
  <div class="col-sm-8 col-xs-12">
    <div class="card">
      <h3 class="card-block"><%= user.name %></h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= mail_to user.email %></li>
        <% unless user.extra_information.blank? %>
          <li class="list-group-item"><%= user.extra_information %></li>
        <% end %>
        <% if user.curator? %>
          <li class="list-group-item text-warning">
            Curator
            <span class="pull-xs-right">&#x2714;</span>
          </li>
        <% end %>
        <% if user.admin? %>
          <li class="list-group-item text-info">
            Admin
            <span class="pull-xs-right">&#x2714;</span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
