<% content_for :title, @user.name %>
<% crumb "Users", admin_users_path %>
<% crumb yield(:title), url_for %>

<div class="clearfix m-b-2">
  <h1 class="pull-sm-left">Profile</h1>
  <div class="pull-sm-right">
    <div class="btn-group">
      <% if current_user.admin? %>
        <%= link_to "Masquerade", admin_masquerade_path(user_id: @user), method: "post", class: "btn btn-sm btn-sm btn-secondary" %>
        <%= link_to "Subscriptions", admin_user_subscriptions_path(@user), class: "btn btn-sm btn-sm btn-secondary" %>
      <% end %>
      <%= link_to "Edit profile", edit_admin_user_path(@user), class: "btn btn-sm btn-sm btn-primary" %>
    </div>
  </div>
</div>

<%= render @user %>
