<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <p>
        Copyright &copy; <%= Date.today.year %> A Song A Day LLC<br>
        <em>For those "too busy" to discover new music</em>
      </p>
      <address>
        A Song A Day<br>
        68 Jay Street<br>
        #718<br>
        Brooklyn, NY 11201
      </address>
    </div>
    <div class="col-xs-12 col-md-6 text-md-right">
      <ul class="list-unstyled">
        <li>
          <strong><a href="https://shannon22.typeform.com/to/RUmVRu" target="_blank">Become a Curator</a></strong>
        </li>
        <li>
          <a href="https://twitter.com/asongadayco">Twitter</a>
        </li>
        <li>
          <a href="https://www.facebook.com/asongaday.co/">Facebook</a>
        </li>
        <li>
          <a href="https://www.instagram.com/asongaday.co/">Instagram</a>
        </li>
        <li>
          <a href="https://soundcloud.com/asongaday">Soundcloud</a>
        </li>
        <li>
          <a href="https://open.spotify.com/user/asongaday.co">Spotify</a>
        </li>
        <li>
          <a href="https://medium.com/a-song-a-day">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</div>
</footer>
