<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter">
  <tr>
    <td valign="top" class="footerContent" mc:edit="footer_content00">
      <a href="https://twitter.com/asongadayco">Follow us on <b>Twitter</b></a>&nbsp;&nbsp;&nbsp;<a href="https://www.instagram.com/asongaday.co/">See us on <b>Instagram</b></a>
    </td>
  </tr>
  <tr>
    <td valign="top" class="footerContent" style="padding-top:0;" mc:edit="footer_content01">
      <em>Copyright &copy; <%= Date.today.year %> A Song A Day LLC, All rights reserved.</em>
      <br />
      For those "too busy" to discover new music
      <br />
      <br />
      <strong>Our mailing address is:</strong>
      <br />
      A Song A Day<br>
      68 Jay Street<br>
      #718<br>
      Brooklyn, NY 11201
    </td>
  </tr>
  <% if @subscription %>
    <tr>
      <td valign="top" class="footerContent" style="padding-top:0;" mc:edit="footer_content02">
        <%= link_to "unsubscribe from this list", admin_subscription_url(@subscription.id, token: @subscription.unsubscribe_token) %></a>&nbsp;&nbsp;&nbsp;<%= link_to "manage your profile", admin_profile_url %>&nbsp;
    </td>
  </tr>
<% end %>
</table>

