<tr>
  <td align="center" valign="top">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateBody flexibleContainer">
      <tr>
        <td align="center" valign="top" width="100%" class="flexibleContainerCell bottomShim">
          <table border="0" cellpadding="0" cellspacing="0" class="emailButton">
            <tr>
              <td align="center" valign="middle" class="buttonContent">
                <%= yield %>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
