<tr>
  <td align="center" valign="top">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateColumns">
      <tr>
        <% if defined?(image_url) && image_url.present? %>
          <td align="center" valign="top" class="templateColumnContainer" style="padding-top:20px;">
            <table border="0" cellpadding="20" cellspacing="0" width="100%">
              <tr>
                <td class="leftColumnContent">
                  <%= link_to_if defined?(url), image_tag(image_url, style: "max-width:160px;", class: "columnImage", alt: ""), local_assigns[:url], target: "_blank" %>
                </td>
              </tr>
            </table>
          </td>
        <% end %>
        <td align="center" valign="top" class="templateTwoColumnContainer" style="padding-top:20px;">
          <table border="0" cellpadding="20" cellspacing="0" width="100%">
            <tr>
              <td valign="top" class="centerColumnContent">
                <%= yield %>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
